<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>end_9bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{653,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{653,524}}</string>
                <key>sourceSize</key>
                <string>{653,524}</string>
            </dict>
            <key>end_girdbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,813},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>end_girdbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,813},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>end_girdlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,813},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>end_girdlight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,813},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>end_girdtxbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,931},{152,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,34}}</string>
                <key>sourceSize</key>
                <string>{152,34}</string>
            </dict>
            <key>end_girdtxbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{112,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,26}}</string>
                <key>sourceSize</key>
                <string>{112,26}</string>
            </dict>
            <key>end_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,931},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>end_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,931},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>end_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,967},{136,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,3}}</string>
                <key>sourceSize</key>
                <string>{136,3}</string>
            </dict>
            <key>end_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{558,154}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{558,154}}</string>
                <key>sourceSize</key>
                <string>{592,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>End1.png</string>
            <key>size</key>
            <string>{562,975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:621eedad420ae5179d248cfc6214a455$</string>
            <key>textureFileName</key>
            <string>End1.png</string>
        </dict>
    </dict>
</plist>
