<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help_9bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>help_line_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,152},{60,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,1}}</string>
                <key>sourceSize</key>
                <string>{60,1}</string>
            </dict>
            <key>help_line_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,110},{1,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,60}}</string>
                <key>sourceSize</key>
                <string>{1,60}</string>
            </dict>
            <key>help_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{184,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,40}}</string>
                <key>sourceSize</key>
                <string>{184,40}</string>
            </dict>
            <key>help_top1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{218,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,52}}</string>
                <key>sourceSize</key>
                <string>{218,52}</string>
            </dict>
            <key>help_top2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,52}}</string>
                <key>sourceSize</key>
                <string>{218,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Help1.png</string>
            <key>size</key>
            <string>{222,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc950ced27dd5eb8ab11320443dc1eb7$</string>
            <key>textureFileName</key>
            <string>Help1.png</string>
        </dict>
    </dict>
</plist>
