<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,480},{136,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>home_egg1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,380},{192,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,292}}</string>
                <key>sourceSize</key>
                <string>{192,292}</string>
            </dict>
            <key>home_egg1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,284},{192,194}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,292}</string>
            </dict>
            <key>home_egg2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{270,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,376}}</string>
                <key>sourceSize</key>
                <string>{270,376}</string>
            </dict>
            <key>home_egg2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{270,264}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,112},{270,264}}</string>
                <key>sourceSize</key>
                <string>{270,376}</string>
            </dict>
            <key>home_egg3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{192,280}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{192,280}}</string>
                <key>sourceSize</key>
                <string>{192,286}</string>
            </dict>
            <key>home_egg3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,274},{190,198}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,88},{190,198}}</string>
                <key>sourceSize</key>
                <string>{192,286}</string>
            </dict>
            <key>home_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,380}}</string>
                <key>sourceSize</key>
                <string>{268,380}</string>
            </dict>
            <key>home_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{212,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,312}}</string>
                <key>sourceSize</key>
                <string>{212,312}</string>
            </dict>
            <key>home_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,466},{156,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,170}}</string>
                <key>sourceSize</key>
                <string>{156,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Home1.png</string>
            <key>size</key>
            <string>{1004,624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:618b6e3c06eb98e3e6e6779f11f03a65$</string>
            <key>textureFileName</key>
            <string>Home1.png</string>
        </dict>
    </dict>
</plist>
