<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>record_girdbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>record_girdlighr.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>record_girdtxtbg .png</key>
            <dict>
                <key>frame</key>
                <string>{{218,206},{92,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,22}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>record_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,225}}</string>
                <key>sourceSize</key>
                <string>{214,225}</string>
            </dict>
            <key>record_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{185,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,40}}</string>
                <key>sourceSize</key>
                <string>{185,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Record1.png</string>
            <key>size</key>
            <string>{362,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a94913e01825aa34ef981af91e9bc87$</string>
            <key>textureFileName</key>
            <string>Record1.png</string>
        </dict>
    </dict>
</plist>
